<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}{% endblock %}</title>
  <style>
    .bg-image-div {
      /*background-image: url('/bg-image.jpeg');*/
      background-size: cover;
      background-position: center;
      min-height: 300px; /* Adjust as needed */
    }
    .text-shadow {
      text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }
  </style>
</head>
<body>
<header class=" bg-white max-w-6xl mx-auto py-4 px-6">
  <div class="text-xl text-slate-700 font-bold flex justify-center items-center"> 🏙 City Life </div>
</header>


<main>
  {% block content %}{% endblock %}
</main>

<footer>
  <!-- Add footer content -->
</footer>
</body>
</html>